<nav id="managelistings-navbar" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <ul>
            <li><button class="btn btn-warning">Logout</button></li>
            <li><button class="btn btn-warning">Your Profile</button></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h1 class="text-center">Manage Open Listings</h1>
        <div class="">
            <table class="text-center" id="listing-table">
                <tr class="listings-info">
                    <th>Position Title</th>
                    <th>Date Posted</th>
                    <th>Location</th>
                    <th>Application Instructions</th>
                    <th>Position Details</th>
                    <th>Manage</th>
                </tr>
                <tr class="listings-info">
                    <td>Front-End Web Developer</td>
                    <td>2015-10-23</td>
                    <td>Menlo Park</td>
                    <td><a ng-href="http://facebook.com/careers">http://facebook.com/careers</a></td>
                    <td>description</td>
                    <td><a href="#">Edit</a> <a href="#">Remove</a></td>
                </tr>
                <tr class="listings-info">
                    <td>Data Scientist</td>
                    <td>2015-10-23</td>
                    <td>Menlo Park</td>
                    <td><a ng-href="http://facebook.com/careers">http://facebook.com/careers</a></td>
                    <td>description</td>
                    <td><a href="#">Edit</a> <a href="#">Remove</a></td>
                </tr>
                <tr class="listings-info">
                    <td>UX Developer</td>
                    <td>2015-10-23</td>
                    <td>Menlo Park</td>
                    <td><a ng-href="http://facebook.com/careers">http://facebook.com/careers</a></td>
                    <td>description</td>
                    <td><a href="#">Edit</a> <a href="#">Remove</a></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12">
            <h3 class="text-center">Post New Listing</h3>
            <table id="company-profile-form" class="col-sm-5 col-sm-offset-4">
                <tr class="company-profile-info">
                    <td>Career Title: </td>
                    <td><input type="text" ng-model="newListing['title']"></td>
                </tr>
                <tr class="company-profile-info">
                    <td>Location: </td>
                    <td><input type="text" ng-model="newListing['location']"></td>
                </tr>
                <tr class="company-profile-info">
                    <td>Application Instruction:</td>
                    <td><textarea ng-model="newListing['instructions']"></textarea></td>
                </tr>
                <tr class="company-profile-info">
                    <td>Position Details:</td>
                    <td><textarea ng-model="newListing['details']"></textarea></td>
                </tr>
            </table>
        </div>
    </div>
    <button class="col-sm-offset-6 btn btn-warning" ng-click="addNewListing(newListing)">Submit!</button>
</div>
